.component-container {
  width: 80%;
}

mat-form-field {
  width: 30%;
}

mat-label {
  font-size: 17px;
}

input {
  font-size: 17px;
  width: 20%
}

input::placeholder {
  font-size: 17px;
}

.table-container {
  overflow-y: auto;
  border: #13293d;
  border-style: solid;
  border-radius: 10px;
}

.mat-table {
  width: 100%;
}

.mat-header-row {
  background: #13293d;
}

.place-holder-button {
  margin-left: 5px;
  margin-right: 5px;
}

th {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

td {
  font-size: 18px;
}

tr:nth-child(even) {
  background: #5D8AA8;
  color: white !important;
  .fa-hashtag:hover,
  .fa-arrow-to-bottom:hover {
    color: white;
    cursor: pointer;
  }
}

#icon-container {
  width: fit-content !important;
}

.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.fa-trash {
    color: red;
    cursor: pointer;
}

.fa, .fad {
  width: 18px;
  height: 18px;
  font-size: 22px;
  margin-left: 8px;
}