<div class="header">
    <img src="../../favicon.ico" style="width: 30px; height: 30px; padding-right: 1em;">
    <h1>Endurance Alchemy</h1>
</div>

<mat-toolbar>
    <mat-toolbar-row class="nav">
        <span>
            <a mat-button [routerLink]="['/coach/dashboard']" >Dashboard </a>
            <a mat-button [routerLink]="['/coach/roster']"> Roster </a>
            <a mat-button [routerLink]=""> Build Workout </a>
            <a mat-button [routerLink]="['/pace-calculator']"> Pace Calculator</a>
            <a mat-button [routerLink]=""> Fitness Calculator </a>
            <a mat-button [routerLink]=""> Information/Terminology </a>
            <a mat-button [routerLink]=""> About Us </a>
            <a mat-button [routerLink]="['/contact-us']"> Contact Us </a>
        </span>
        <span class="example-spacer"></span>
        <span>
            <button mat-icon-button title="Settings">
                <mat-icon class="icon-display">settings</mat-icon>
            </button>
            <div class="dropdown">
                <button mat-icon-button title="Profile" class="dropbtn">
                    <mat-icon class="icon-display">person_outline</mat-icon>
                </button>
                <div class="dropdown-content">
                    <a [routerLink]="['/user-profile']" >Profile</a>
                    <a>Sign Out</a>
                </div>
            </div>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
