#coach-desktop-coach-search {
    margin-top: 5px;
    display: flex;
}

.fad {
  font-size: 20px;
  color: black;
}

.fad:hover {
  color: dodgerblue;
  cursor: pointer;
}

.component-container {
  width: 100%;
}

.table-container {
  max-height: 450px;
  overflow-y: auto;
}

table {
  width: 100%;
}

table tbody {
  max-height: 480px;
  overflow-y: auto;
}

th {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

th.mat-sort-header-sorted {
  color: white !important;
}

td.mat-cell:last-of-type {
  padding-right: 0 !important;
}

th.mat-header-cell:last-of-type {
  width: 65px;
  padding-right: 0 !important;
}

tr:nth-child(even) {
  background: #819ab7;
  color: white !important;
}
