#button-container {
    width: 80%;
    position: relative;
}

button {
    width: 4.5em;
    height: 2.5em;
    font-size: 17px;
    margin-bottom: 10px;
}

#add-label {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -70px;
}