<div class="page-container">
  <div class="page-title">
    <h1>Roster</h1>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet"></div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div id="button-container">
          <button id="add-label" mat-raised-button color="primary">
            <span>ADD+</span>
          </button>
        </div>
        <app-roster-collection></app-roster-collection>
      </div>
      <div class="desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet"></div>
    </div>
  </div>
</div>