<div class="contact-form">
  <form>
    <div class="page-title">
      <h1>Contact us</h1>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput type="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput rows="4"></textarea>
    </mat-form-field>

    <div>
      <button mat-button>Send <mat-icon>send</mat-icon></button>
    </div>
  </form>
</div>
