.contact-form {
    width: 70%;
    padding: 1em 2em 1em 1em;
    margin-left: 14em;
    margin-top: 1em;
    font-size: 18px;
}

form {
    display: grid;
}

button {
    background-color: #5D8AA8;
    color: black;
    font-size: 18px;
}